body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.from-scratch-section {
    padding: 50px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
